<div class="">
  <div class="col">
    <footer class=" text-center text-white" style="background-color: transparent;">


      <!-- Copyright -->
      <div class="text-center p-1" style="background-color: #000000;">
        <!-- Grid container -->
      <div class="container">
        <!-- Section: Social media -->
        <section class="mb-1">
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998; border-radius: 100%;"
            href="#!" target="_blank"
            role="button"
            ><i class="bi bi-facebook"></i></a>

          <!-- Twitter -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee; border-radius: 100%;"
            href="#!" target="_blank"
            role="button"
            ><i class="bi bi-twitter"></i></a>

          <!-- Google -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39; border-radius: 100%;"
            href="#!" target="_blank"
            role="button"
            ><i class="bi bi-google"></i></a>

          <!-- Instagram -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac; border-radius: 100%;"
            href="#!" target="_blank"
            role="button"
            ><i class="bi bi-instagram"></i></a>

          <!-- Linkedin -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca; border-radius: 100%;"
            href="#!" target="_blank"
            role="button"
            ><i class="bi bi-linkedin"></i></a>
          <!-- Github -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #333333; border-radius: 100%;"
            href="#!" target="_blank"
            role="button"
            ><i class="bi bi-github"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/" target="_blank">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  </footer>
  </div>
</div>
