  <nav class="navbar navbar-expand-lg" style="background-color: rgb(10, 10, 10);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/modelo1">Upload Radiology</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item" *ngIf="isAdmin() == true">
            <a class="nav-link" href="/admin">Administrator</a>
          </li>
        </ul>
        <div class="d-flex" *ngIf="userEmail == ''">
          <button class="btn btn-outline-success mx-1 btn-navbar" (click)="goLogin()" >Login</button>
        </div>
        <div class="d-flex" *ngIf="userEmail == ''">
          <button class="btn btn-outline-warning mx-1 btn-navbar" (click)="goRegister()">Register</button>
        </div>
        <div class="user-name"*ngIf="userEmail.length > 0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img src="../../assets/icons/usuario.png" alt="img-usuario">
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"> {{userNombre}} {{userApellido}} <br> {{userEmail}} </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item logout">
                <div class="row">
                  <div class="col-3"><h3 style="color: red;" (click)="logout()">Logout</h3></div>
                  <div class="col-2 mt-1"><i class="bi bi-door-closed" style="color: red;"></i></div>
                </div>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>
