/* .fondo{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
} */
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.txt-title-table {
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 5%;
    font-size: 15px;
    font-weight: bolder;
}
.burbuja{
  margin-top: 10px;
  /* background-color: rgb(99, 226, 87); verde */
  /* background-color: rgb(245, 65, 65); rojo */
  border-radius: 40px;
  width: 70px;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
}
.burbuja-rol{
  margin-left: 20px;
  margin-top: 10px;
  /* background-color: rgb(245, 172, 37); naranaja */
  /* background-color: rgb(161, 59, 192); morado */
  border-radius: 40px;
  width: 120px;
  text-align: center;
  font-size: 14px;
}

/* Colerear filas salteadas */
.mat-row:nth-child(2n+1) {
    background-color: #eff0f0;
}

.mat-row:not(:nth-child(2n+1)) {
    background-color: #d3ecec;
}

/* sin bordes dentro de tabla */
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    color: rgb(12, 12, 12);
}

/* hover de puntero al pasar por filas */
.mat-row:hover .mat-cell {
    border-color: blueviolet;
    background-color: rgb(157, 197, 238);
}


/*>>>>>>>>>>>>> Funcionalidad tabla css <<<<<<<<<<<<<<<<<*/

/* .demo-row-is-clicked {
    font-weight: bold;
} */

.make-gold {
    background-color: rgb(252, 219, 33) !important;
}

