<div class="fondo">
  <!-- filtro -->
  <label for="">Buscar</label>
  <input type="text" [(ngModel)]="searchText" placeholder="SEARCH">
  <!-- tabla -->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Email</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cedula</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Roles</th>
          <th scope="col">Estado</th>
          <th scope="col">Estado Token</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>
      <tbody id="tabla" ref="tabla">
        <tr  *ngFor="let data of dataUsers | filter:searchText | paginate: { itemsPerPage: itemsPage, currentPage: p}; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <!-- <td>{{item.id}}</td> -->
          <td>{{ data.email }}</td>
          <td>{{ data.apellido }}</td>
          <td>{{ data.nombre }}</td>
          <td>{{ data.cedula }}</td>
          <td>{{ data.telefono }}</td>
          <td>{{ data.direccion }}</td>
          <td>{{ data.roles| json  }}</td>
          <td>{{ data.estado }}</td>
          <td>{{ data.estadoTokenRegistro }}</td>
          <td>
            <button (click)="updateUser(data)"> Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginacion -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <!-- selecion de items por page -->
    <select class="form-select" style="width: auto" [(ngModel)]="itemsPage">
      <option [value]="itemsPage" disabled selected hidden>Items</option>
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
    <label for="">N° de Usuarios: </label>{{allUsers}}
  </div>
</div>

