/* .fondo{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
} */
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.txt-title-table {
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 5%;
    font-size: 15px;
    font-weight: bolder;
}

/* Colerear filas salteadas */
.mat-row:nth-child(2n+1) {
    background-color: #eff0f0;
}

.mat-row:not(:nth-child(2n+1)) {
    background-color: #d3ecec;
}

/* sin bordes dentro de tabla */
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    color: rgb(12, 12, 12);
}

/* hover de puntero al pasar por filas */
.mat-row:hover .mat-cell {
    border-color: blueviolet;
    background-color: rgb(157, 197, 238);
}

/* .demo-row-is-clicked {
    font-weight: bold;
} */

.make-gold {
    background-color: rgb(252, 219, 33) !important;
}

