.fondo{
  background-color: rgb(24, 23, 23);
  /* height: 100vh; */
}

.form-control:focus {
    box-shadow: none;
    border: 3px solid rgb(47, 46, 134);
}

.labels, .form-label, span {
    color: white;
}
