
<div class="fondo">

  <div class="row">
    <!-- Cards of Radiologys -->
    <div class="col-md-2 align-self-center cards-left" style="padding-left: 30px; padding-right: 20px;">
      <div class="row justify-content-center">
        <div class="card mt-3 row justify-content-center" style="width: 18rem;" *ngFor="let disease of onlyDiseases">
            <!-- <input type="text" value="{{disease.photo}}" #valueInput> -->
            <img src="{{disease.photo}}" class="card-img-top img-fluid img-card-radiology" [alt]="disease.name" (click)="expandCardRadiology(disease.photo, disease.name, disease.value)">
          <div class="txt-card">
            <h2 class="card-title">{{disease.name}}</h2>
            <p>Percent: {{disease.value}}%</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Radiology and Data -->
    <div class="col-md-10">
      <div class="row justify-content-center">

        <!-- radiology-->
        <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
          <div class="" style="padding-left: 10px;">
            <div class="sombra-photo-radiology">
              <input type="text"  class="form-control-plaintext form-control-lg text-center txt-diseases" readonly [value]="showDiseases">
                <img [src]="photo || 'https://prod-images-static.radiopaedia.org/images/27378259/387e16fe7024e1ad9b47b85b382b2e_gallery.jpeg'" class="img-flui img-radiology" alt="radiology">
            </div>
          </div>
        </div> -->

        <!-- tools de Cornerstone -->
         <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
           <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

             <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
             <label class="btn btn-outline-primary" for="btnradio1" (click)="activateTools('Length')"><i class="bi bi-option"></i> Length</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio2"(click)="activateTools('EllipticalRoi')"><i class="bi bi-circle"></i> Elliptical</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio3"(click)="activateTools('Rotate')"><i class="bi bi-arrow-clockwise"></i> Rotate</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio4"(click)="activateTools('Wwwc')"> <i class="bi bi-circle-half"></i> Sparkle</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio5"(click)="activateTools('Pan')"><i class="bi bi-arrows-move"></i> Move</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio6"(click)="activateTools('Angle')"><i class="bi bi-chevron-bar-down"></i> Angle</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio7"(click)="activateTools('Bidirectional')"><i class="bi bi-arrows-expand"></i> Bidirectional</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio8"(click)="activateTools('RectangleRoi')"><i class="bi bi-aspect-ratio"></i> Rectangle</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio9"(click)="activateTools('ArrowAnnotate')"><i class="bi bi-textarea-t"></i> Note</label>

             <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
             <label class="btn btn-outline-primary" for="btnradio10"(click)="activateTools('FreehandRoi')"><i class="bi bi-bezier2"></i> lines</label>

           </div>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <!-- Radiologi Img -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
          <div class="" style="padding-left: 10px;">
            <div class="sombra-photo-radiology">
              <input type="text"  class="form-control-plaintext form-control-lg text-center txt-diseases" readonly [value]="showDiseases">
                <!-- canvas radiology -->
                <div class="image-canvas-wrapper my-5" id="element-1">
                  <div id="element" class="cornerstone-element"></div>
                </div>
            </div>
          </div>
        </div>



        <!-- Data Visual -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex col-data">
            <!-- Therd Model Horizontal Bar -->
            <div #containerRef class="sombra-card-data grafica">
                <ngx-charts-bar-horizontal
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="showXAxisHorizontal"
                [yAxisLabel]="showYAxisVertical"
                [showDataLabel]="showDataLabel"
                [xAxisTickFormatting]='formatPercent'
                [tooltipDisabled]='tooltipDisabled'
                [trimYAxisTicks]="trimYAxisTicks"
                [activeEntries]="activeEntries"
                [animations]="true"
                (select)="onSelect($event)">
                </ngx-charts-bar-horizontal>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
