<div class="fondo">
  <div class="containr">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 align-self-center d-flex justify-content-center my-5">
            <form class="was-validated">
                <div class="row align-self-center d-flex justify-content-center">
                    <!-- Img Logo -->
                    <div class="d-flex justify-content-center my-1">
                        <img src="../../assets/lungs.png" class="card-img-top" alt="Logo Pulmones">
                    </div>

                    <h3>Register</h3>

                    <div class="col-md-5 mx-4">
                        <label for="nombre" class="form-label" style="margin-right:5px;">Nombre</label>
                        <input style="margin-right:5px;"
                        type="text"
                        class="form-control is-invalid"
                        id="nombre"
                        placeholder="Nombre"
                        required
                        />
                        <label for="apellido" class="form-label" style="margin-right:5px;">Apellido</label>
                        <input style="margin-right:5px;"
                        type="text"
                        class="form-control is-invalid"
                        id="apellido"
                        placeholder="Apellido"
                        required
                        />
                    </div>
                    <div class="col-md-5 mx-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control is-invalid" id="email"  placeholder="Email" required/>
                        <label for="password">Password</label>
                        <input type="password" class="form-control is-invalid" id="password" placeholder="Password" required/>
                    </div>

                    <button>Create Acount</button>
                </div>
            </form>
        </div>

      <div class="col-md-3"></div>

    </div>
  </div>
</div>
