.fondo {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

/* subir imagen */
.alinearBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block{
  width: 20%;
}

.card1 .card {
  --bs-card-cap-bg: rgb(100 149 237);
}
.card2 .card {
  --bs-card-cap-bg: rgb(237, 139, 100);
}


.card-body img {
  width: 150px;
  height: 150px;
  display: block;
  opacity: 0.5;
  margin: 0px auto;
}

.txt-up {
  opacity: 0.7;
  color: black;
}

.sombra {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px 10px #4b4a49;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* tarjetas de enfermedades */
.cards-left {
  height: 860px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #686868 rgb(19, 19, 19);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid rgb(35, 52, 83);
  border-bottom: 1px solid rgb(35, 52, 83);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0.2px rgb(66, 64, 212);
}

.card-container {
  border: 1px solid rgb(35, 52, 83);
  box-shadow: 0px 3px 15px 2px rgb(47, 46, 134);
  border-radius: 5px;
}

.img-card-radiology {
  height: 150px;
  width: 100%;
  cursor: pointer;
}

.card {
  background-color: rgb(0, 0, 0);
}

.txt-card {
  color: white;
}

.txt-card h2 {
  margin-bottom: 0px;
}

.txt-card p {
  color: rgb(59, 86, 134);
  font-size: 11px;
  line-height: 0.3;
}

/* camvas de radiografia */
.image-canvas-wrapper {
  width: 100%;
  height: 800px;
  margin: 35px auto;
  background: black;
}

.cornerstone-element {
  width: 100%;
  height: 100%;
}

.txt-diseases {
  color: white;
  font-weight: bolder;
}

.sombra-photo-radiology {
  /* margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 10px; */
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0px 0px 15px 4px #4b4a49;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* estadistcias */
.grafica {
  width: 100%;
  height: calc(100% - 0px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sombra-card-data {
  /* margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 10px; */
  border-top: 1px solid rgb(35, 52, 83);
  border-bottom: 1px solid rgb(35, 52, 83);
  border-radius: 5px;
  box-shadow: 7px 0px 30px 0.2px rgb(66, 64, 212);
}



/* Drop Down Menu */
.dropdown-menu {
  max-height: 350px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #686868 rgb(19, 19, 19);
}


.perspective{
  transform: rotateY(0deg) rotateX(5deg) translateX(0%) translateZ(150px);
  animation-name: example;
  animation-duration: 2s;
}
@keyframes example {
  0% { transform: perspective(400px) rotateY(-5deg) rotateX(-5deg) translateX(8%) translateZ(-150px); }
  100% {  transform: rotateY(0deg) rotateX(5deg) translateX(0%) translateZ(150px); }
}


 /*Cubo de espera>>>>>*/

 .box {
  position: relative;
  transform-style: preserve-3d;
  top: calc(var(--size) / 2 * 1px);
  left: calc(var(--size) / 2 * 1px);
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  animation: roll var(--duration) linear infinite;
}

.box__large {
  --duration: 20s;
  --size: 100;
  --opacity: 0.3;
  top: 0;
  left: 0;
}
/*400 200 100*/
.box__midium {
  --duration: 9s;
  --size: 50;
  --opacity: 0.4;
}

.box__small {
  --duration: 2s;
  --size: 25;
  --opacity: 0.5;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
}

.front {
  background: rgba(90, 90, 90, var(--opacity));
  transform: translateZ(calc(var(--size) / 2 * 1px));
}

.back {
  background: rgba(0, 210, 0, var(--opacity));
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2 * 1px));
}

.right {
  background: rgba(210, 0, 0, var(--opacity));
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2 * 1px));
}

.left {
  background: rgba(0, 0, 210, var(--opacity));
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2 * 1px));
}

.top {
  background: rgba(210, 210, 0, var(--opacity));
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2 * 1px));
}

.bottom {
  background: rgba(210, 0, 210, var(--opacity));
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2 * 1px));
}

@keyframes roll {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes blinking {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.blinking-text {
  animation: blinking 1.5s infinite;
}

@keyframes ellipsis {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.blinking-text::after {
  content: "...";
  animation: ellipsis 1.5s infinite;
}
/*<<<<<<<<Cubo de espera*/

/* cicuitos*/
.linea-color {
  height: 2px;
  width: 100%;
  position: relative;
  animation: parpadeo-linea 2s linear infinite;
}

.circulo-color {
  position: absolute;
  top: -25px;
  animation: recorrer-linea 5s linear infinite;
}
.circulo-color2 {
  position: absolute;
  top: -25px;
  animation: recorrer-linea2 5s linear infinite;
}


@keyframes recorrer-linea {
  0% {
    left: 0;
  }
  100% {
    left: calc(155% - 15px);
  }
}

@keyframes recorrer-linea2 {
  0% {
    right: 0;
  }
  100% {
    right: calc(180% - 15px);
  }
}

/*NEON*/



.neon-border {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding: 0 !important;
}

.neon-border::before,
.neon-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  background-color: none;

}
/*50px 0 75px #ff00de, 50px 0 100px #ff00de;*/
.neon-border::before {
  border-top: none;
  border-bottom: none;
  border-right: none;
  box-shadow: 5px 0 5px #fff, 7px 0 10px #fff, 10px 0 20px #fff, 45px 0px 90px #ff00de;

  animation: neon-glow 3.8s ease-in-out infinite alternate;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.neon-border::after {
  opacity: 0.7;
  mix-blend-mode: overlay;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

@keyframes neon-glow {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
